
*{
    /* margin: 0 auto; */
    text-align: center;


}

input:focus:invalid{
    border: 2px solid red;
}


div{
    margin:5px;
}
h1{
    color:brown
}
ul{
    display: inline;
}

a{
    text-decoration: none;
    
}
